<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufrpe.feelingsbox">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/feelingbox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/feelingbox"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.ufrpe.feelingsbox.redesocial.gui.ActSearchable" />

        <provider
            android:name=".infra.provider.SearchableProvider"
            android:authorities="com.ufrpe.feelingsbox.infra.provider.SearchableProvider" />

        <activity
            android:name=".usuario.gui.ActSplash"
            android:theme="@style/MyAppThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.ActLogin"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MyAppThemeFullscreen"
            android:windowSoftInputMode="stateHidden"> <!-- Impede do teclado abrir automaticamente ao Entrar na Activity e mudar Orientação e Tamanho da Tela -->
        </activity>
        <activity
            android:name=".usuario.gui.ActSignUp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MyAppThemeFullscreen"
            android:windowSoftInputMode="stateHidden"> <!-- Impede do teclado abrir automaticamente ao Entrar na Activity e mudar Orientação e Tamanho da Tela -->
        </activity>
        <activity
            android:name=".redesocial.gui.ActHome"
            android:label="@string/title_activity_act_home"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".redesocial.gui.ActPerfil"
            android:label="@string/title_activity_act_perfil"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".redesocial.gui.ActEditarPerfil"
            android:label="@string/title_activity_act_editar_perfil"
            android:theme="@style/MyAppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"> <!-- Impede do teclado abrir automaticamente ao Entrar na Activity e mudar Orientação e Tamanho da Tela -->
        </activity>
        <activity
            android:name=".redesocial.gui.ActCriarPost"
            android:label="@string/title_activity_act_criar_post"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".redesocial.gui.ActCriarComentario"
            android:label="@string/title_activity_act_criar_comentario"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".redesocial.gui.ActPerfilPost"
            android:label="@string/title_activity_act_perfil_post"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".redesocial.gui.ActSearchable"
            android:label="@string/title_activity_act_searchable"
            android:launchMode="singleTop"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".redesocial.gui.ActSeguidosSeguidores"
            android:label="@string/title_activity_act_seguidos_seguidores"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".redesocial.gui.ActPost"
            android:label="@string/title_activity_act_post"
            android:theme="@style/MyAppTheme"></activity>
    </application>

</manifest>